In [ ]:
# import pandas library
import pandas as pd
# read data
df = pd.read_csv('data.csv')
# selece subsets of data for Brisbane, Sydney and Melbourne
BNE_dataset = df.loc[df['sub_region_2'] == 'Brisbane City']
SYD_dataset = df.loc[df['sub_region_2'] == 'Council of the City of Sydney']
MEL_dataset = df.loc[df['sub_region_2'] == 'Melbourne City']

In [ ]:
# show 5 rows of the dataframe
BNE_dataset.head()

In [ ]:
# print the full summary
BNE_dataset.info()

In [ ]:
# remove three columns that have any NaN values  : metro_area, iso_3166_2_code and census_fips_code
BNE_dataset = BNE_dataset.drop(['metro_area', 'iso_3166_2_code','census_fips_code'], axis=1)

In [ ]:
# save to csv
BNE_dataset.to_csv('BNE_dataset.csv')

In [ ]:
# show 5 rows of the dataframe
SYD_dataset.head()

In [ ]:
# print the full summary
SYD_dataset.info()

In [ ]:
# remove three columns that have any NaN values  : metro_area, iso_3166_2_code and census_fips_code
SYD_dataset = SYD_dataset.drop(['metro_area', 'iso_3166_2_code','census_fips_code'], axis=1)

In [ ]:
# save to csv
SYD_dataset.to_csv('SYD_dataset.csv')

In [ ]:
# show 5 rows of the dataframe
MEL_dataset.head()

In [ ]:
# print the full summary
MEL_dataset.info()

In [ ]:
# remove three columns that have any NaN values  : metro_area, iso_3166_2_code and census_fips_code
MEL_dataset = MEL_dataset.drop(['metro_area', 'iso_3166_2_code','census_fips_code'], axis=1)

In [ ]:
# save to csv
MEL_dataset.to_csv('MEL_dataset.csv')